:root {
	--color-bg: #080400;
    --color-bg-alt: #120600;
	--color-dark: #820;
	--color-main: #c40;
	--color-text: #fea;
	--color-link: #f82;
	--color-high: #fa4;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    background-color: var(--color-bg);
    color: var(--color-text);
    margin-top: 0;
}

a, a:visited
{
	color: var(--color-link);
	text-decoration: none;
	border-radius: 2px;
}

a:hover, a:active
{
	color: var(--color-high);
}

a:focus
{
	color: var(--color-high);
	outline: 1px solid var(--color-main);
}

.title {
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    max-width: 100%;
}

.author {
    font-size: 10px;
    display: inline-block;
    margin-left: 4px;
}

.source {
    float: right;
}

.control {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
}

.input-label {
    display: inline-block;
    min-width: 290px;
    text-align: right;
}

input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: var(--color-text);
    min-width: 280px;
    background-color: var(--color-bg);
    border: 1px solid var(--color-dark);
    border-radius: 4px;
    padding: 6px;
}

input:active, input:focus {
    border: 1px solid var(--color-main);
}

input:focus {
	outline: 1px solid var(--color-main);
}

button {
    font-weight: 600;
    font-size: 16px;
    color: var(--color-text);
    border: 0;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 4px;
    background-color: var(--color-dark);
    white-space: nowrap;
    cursor: pointer;
}

button:hover, button:active {
    background-color: var(--color-main);
}

button:focus {
    background-color: var(--color-main);
	outline: 1px solid var(--color-main);
}

.table-control {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    overflow-x: scroll;
}

table {
    border-collapse: collapse;
}

table tr:nth-child(odd) {
    background-color: var(--color-bg-alt);
}

tr {
    min-height: 48px;
}

th, td {
    padding: 2px 4px;
    text-align: left;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.message-box {
    position: fixed;
    top: 10%;
    left: 10%;
    box-sizing: border-box;
    width: 80%;
    margin: 0;
    padding: 8px;
    background-color: var(--color-bg);
    color: var(--color-text);
    border: 1px solid var(--color-dark);
    border-radius: 8px;
    outline: 4px solid var(--color-bg);
}

.message-box>div {
    padding: 8px;
}

.separated {
    border-bottom: 1px solid var(--color-dark);
    padding: 8px 0;
}